<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button id="xd">
        Regresar a Inicio
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-searchbar placeholder="Buscar Institución"></ion-searchbar>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button id="xd">
        Conócenos
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" id="xd2">
    <div class="header" style="margin-top: -10px;" id="xd3">
      <ion-title style="color: black;">Prestaciones Socioeconómicas de la UTZAC</ion-title>
    </div>
    <!-- <div class="cards-container">
      <ion-card *ngFor="let card of cards" class="card" style="margin-top: 10px;" id="xd4" (click)="navigateToPage(card.title)">
        <ion-card-header id="xd5">
          <ion-icon name="{{ card.icon }}" style="color: black;"></ion-icon>
          <ion-card-title style="color: black;">{{ card.title }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div> -->
    <img src="assets/socio.png" alt="Imagen de prestaciones socio" style="max-width: 100%; height: auto;">
  </div> 
</ion-content>