<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button id="xd" href="{{'home'}}">
        Regresar a Inicio
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-searchbar placeholder="Buscar Institución"></ion-searchbar>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button id="xd">
        Conócenos
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <style>
    .content-wrapper {
      position: relative;
      width: 100%;
      height: 100vh;
      border-radius: 50px;
      overflow: hidden;
    }
  
    .content-wrapper::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../../../assets/transparencia.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0.5;
      z-index: 1;
    }
  
    .text-container {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      text-align: center;
      color: white;
    }
  
    .main-text {
      font-size: 2em;
      margin-bottom: 20px;
      background-color: #404040;
      opacity: 0.8;
      border-radius: 15px;
      margin: 15px;
      padding: 15px;
    }
  
    ion-button {
      font-weight: bold;
      font-size: 1em;
    }
  </style>
  
  <div class="content-wrapper">
    <div class="text-container">
      <p class="main-text">
        Descubre el destino de tus impuestos
      </p>
      <ion-button (click)="scrollToSection('estados')">
        Ir a conocer el presupuesto
      </ion-button>
    </div>
  </div>
  

  <ion-list id="estados">
    <ion-button class="tacosxd" (click)="navigateToState('Aguascalientes')">
      Aguascalientes
    </ion-button>
    <ion-button class="tacosxd" (click)="navigateToState('Baja California')">
      Baja California
    </ion-button>
    <ion-button class="tacosxd" (click)="navigateToState('Baja California Sur')">
      Baja California Sur
    </ion-button>
    <ion-button class="tacosxd" (click)="navigateToState('Campeche')">
      Campeche
    </ion-button>
    <ion-button class="tacosxd" (click)="navigateToState('Coahuila')">
      Coahuila
    </ion-button>
    <ion-button class="tacosxd" (click)="navigateToState('Colima')">
      Colima
    </ion-button>
    <ion-button class="tacosxd" (click)="navigateToState('Chiapas')">
      Chiapas
    </ion-button>
    <ion-button class="tacosxd" (click)="navigateToState('Chihuahua')">
      Chihuahua
    </ion-button>
    <ion-button class="tacosxd" (click)="navigateToState('Ciudad de México')">
      Ciudad de México
    </ion-button>
    <ion-button class="tacosxd" (click)="navigateToState('Durango')">
      Durango
    </ion-button>
    <ion-button class="tacosxd" (click)="navigateToState('Guanajuato')">
      Guanajuato
    </ion-button>
    <ion-button class="tacosxd" (click)="navigateToState('Guerrero')">
      Guerrero
    </ion-button>
    <ion-button class="tacosxd" (click)="navigateToState('Hidalgo')">
      Hidalgo
    </ion-button>
    <ion-button class="tacosxd" (click)="navigateToState('Jalisco')">
      Jalisco
    </ion-button>
    <ion-button class="tacosxd" (click)="navigateToState('Estado de México')">
      Estado de México
    </ion-button>
    <ion-button class="tacosxd" (click)="navigateToState('Michoacán')">
      Michoacán
    </ion-button>
    <ion-button class="tacosxd" (click)="navigateToState('Morelos')">
      Morelos
    </ion-button>
    <ion-button class="tacosxd" (click)="navigateToState('Nayarit')">
      Nayarit
    </ion-button>
    <ion-button class="tacosxd" (click)="navigateToState('Nuevo León')">
      Nuevo León
    </ion-button>
    <ion-button class="tacosxd" (click)="navigateToState('Oaxaca')">
      Oaxaca
    </ion-button>
    <ion-button class="tacosxd" (click)="navigateToState('Puebla')">
      Puebla
    </ion-button>
    <ion-button class="tacosxd" (click)="navigateToState('Querétaro')">
      Querétaro
    </ion-button>
    <ion-button class="tacosxd" (click)="navigateToState('Quintana Roo')">
      Quintana Roo
    </ion-button>
    <ion-button class="tacosxd" (click)="navigateToState('San Luis Potosí')">
      San Luis Potosí
    </ion-button>
    <ion-button class="tacosxd" (click)="navigateToState('Sinaloa')">
      Sinaloa
    </ion-button>
    <ion-button class="tacosxd" (click)="navigateToState('Sonora')">
      Sonora
    </ion-button>
    <ion-button class="tacosxd" (click)="navigateToState('Tabasco')">
      Tabasco
    </ion-button>
    <ion-button class="tacosxd" (click)="navigateToState('Tamaulipas')">
      Tamaulipas
    </ion-button>
    <ion-button class="tacosxd" (click)="navigateToState('Tlaxcala')">
      Tlaxcala
    </ion-button>
    <ion-button class="tacosxd" (click)="navigateToState('Veracruz')">
      Veracruz
    </ion-button>
    <ion-button class="tacosxd" (click)="navigateToState('Yucatán')">
      Yucatán
    </ion-button>
    <ion-button class="tacosxd" (click)="navigateToState('Zacatecas')">
      Zacatecas
    </ion-button>
  </ion-list>

  <ion-button expand="full" href="https://drive.google.com/file/d/1Am10jypKjthfPRgBhYo0zcBnB_-moIb6/view?usp=drive_link" class="taquito">
    Manual de Usuario en Google Drive
  </ion-button><br>
  <ion-button expand="full" href="https://drive.google.com/file/d/1YwxHr6k3sAQuQDT3wn9slQG0JElHkjav/view?usp=drive_link" class="taquito">
    Manual Técnico en Google Drive
  </ion-button>

</ion-content>